@model MvcProje.Models.Entitiy.TBLUrunler
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Ürün Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Ürün Adı")
    @Html.TextBoxFor(x => x.UrunAd, new { @class = "form-control" })
    <br />
    @Html.Label("Ürün Kategori")
    @Html.DropDownListFor(x => x.UrunKategori, (List<SelectListItem>)ViewBag.d, new { @class = "form-control" })
    <br />
    @Html.Label("Marka")
    @Html.TextBoxFor(x => x.Marka, new { @class = "form-control" })
    <br />
    @Html.Label("Ürün Stok")
    @Html.TextBoxFor(x => x.Stok, new { @class = "form-control" })
    <br />
    @Html.Label("Fiyat")
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Ekle</button>
</form>

